@import "../customVars";
.v-btn-wrapper {
  display: inline-block;

  .ant-btn {
    font-weight: 400;
    padding: 0 18px;
    box-shadow: 0 8px 12px 0 rgba(10, 6, 6, 0.1);
    color: @black;

    &.ant.btn-clicked {
      transition: none;
    }

    &.v-btn-mini {
      width: 32px;
      height: 32px;
      padding: 0;
      color: @gray;
      box-shadow: none;

      &:focus:active, &:active, &.ant-popover-open {
        // fix safari behavior
        color: @black !important;
        background-color: @white;
        border-color: @white;
      }

      &:focus, &:hover {
        background-color: @white;
        border-color: @white;
        color: @gray;
      }
    }

    .v-icon {
      &+ span {
        margin-left: 9px;
      }
    }

    &:not(.ant-btn-circle) {
      &:not(.ant-btn-circle-outline){
        &.ant-btn-icon-only {
          padding: 0 16px;
        }
      }
    }

    &:disabled {
      opacity: 0.4;
      font-weight: 500;
      background-color: #8d8d8d !important;
      border-color: #8d8d8d !important;
      color: @black !important;
    }


    &:focus, &:hover {
      background-color: @white;
      border-color: @white;
      color: @black;
    }

    &:focus:active, &:active, &.ant-popover-open {
      background-color: @black;
      border-color: @black;
      color: @white;
    }

    &.ant-btn-primary {
      color: @white;

      &:focus, &:hover {
        background-color: @primary-color;
        border-color: @primary-color;
      }

      &:focus:active, &:active , &.ant-popover-open {
        background-color: @black;
        border-color: @black;
        color: @white;
      }
    }
  }
  // remove ant design animation
  .ant-btn-clicked {
    &:after {
      animation: none;
    }
  }
}
