@import "../customVars";

.v-context-menu.ant-popover {
  padding-top: 0;

  .ant-popover-content {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      box-shadow: 0 8px 12px 0 rgba(10, 6, 6, 0.1);
      margin-top: -4px;
      padding: 0 8px 8px;

      .v-context-menu-title {
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 16px;
        padding: 16px 8px 8px;
        height: 40px;
        color: @gray;
        min-width: 177px;
        margin: 0;
        min-height: 32px;
        border-bottom: 1px solid #e0e0e0;
      }

      .v-context-menu-content {
        display: inline-block;
        padding: 8px 20px 0;

        .v-btn-wrapper {
          display: block;
          width: 100%;
          margin: 0 -20px;
          min-width: 194px;

          .ant-btn {
            display: block;
            width: 100%;
            box-shadow: none;
            text-align: left;
          }
        }
      }

      .v-context-menu-footer {
        display: flex;
        justify-content: space-between;
        padding: 15px 0 8px;
        margin: 0 20px;
        border-top: 1px solid #e0e0e0;
      }

      .ant-popover-inner-content {
        padding: 0;
      }
    }
  }
}
