@import "../customVars";

.v-input.ant-input {
  font-size: 13px;
  line-height: 16px;
  height: 48px;
  box-shadow: 0 8px 12px 0 rgba(10, 6, 6, 0.1);
  padding: 15px 20px;
  border: 1px solid #fff;
  color: #0a0606;
  transition: border-color 300ms linear;

  &::placeholder {
    font-size: 11px;
  }

  &:focus {
    border-color: @primary-color;
    box-shadow: 0 8px 12px 0 rgba(10, 6, 6, 0.1);
  }

  &:disabled {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #8d8d8d;

    &::placeholder {
      color: #8d8d8d;
    }
  }
}
.v-input-wrapper {
  display: block;
  position: relative;

  &.focused, &.has-value {
    .ant-input-wrapper {
      .ant-input-group-addon {
        width: 0;

        &+ .ant-input.v-input {
          padding-left: 20px;
          transition: padding-left 300ms;
        }

        .v-icon {
          opacity: 0;
        }
      }
    }

  }

  &.has-value {
    .v-clear-input {
      display: inline-block;
    }
    .v-input-spinner {
      right: 48px;
    }
  }

 .ant-input-wrapper {
   box-shadow: 0 8px 12px 0 rgba(10, 6, 6, 0.1);

    .ant-input-group-addon {
      position: absolute;
      background-color: @white;
      top: 1px;
      left: 1px;
      z-index: 10;
      width: 44px;
      line-height: 44px;
      border: 1px solid transparent;
      padding-left: 0;
      padding-right: 0;
      font-size: 16px;
      color: @gray;
      overflow: hidden;
      text-align: center;

      &+ .ant-input.v-input {
        padding-left: 48px;
      }

      .v-icon {
        visibility: visible;
        opacity: 1;
        transition: opacity 10ms;
        transition-delay: 10ms;
      }
    }

    .ant-input.v-input {
      box-shadow: none;
    }
  }

  .v-clear-input {
    display: none;
    position: absolute;
    z-index: 10;
    right: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .v-input-spinner {
    position: absolute;
    z-index: 10;
    right: 14px;
    top: 15px;
  }
}


.v-form.ant-form {
  .ant-form-item {
    &-control-wrapper {
      .ant-form-item-control {
        .v-input {
        }

        &.has-error {
          .v-input {
            border-color: @error-color;
          }
        }

        &.has-warning {
          .v-input {
            border-color: @warning-color;
          }
        }

        &.has-success {
          .v-input {
            border-color: @success-color;
          }
        }
      }
    }
  }

  .ant-form-explain {
    font-size: 11px;
    height: 19.5px;
  }

  .has-error, .has-warning {
    .ant-form-explain, .ant-form-split {
      color: @gray;
    }
  }
}
