@import "../customVars";

.v-menu-wrapper {
  height: 100%;
  display: flex;

  .v-menu-left-side {
    height: 100%;
    width: 78px;
    float: left;
    margin-right: 1px;

    .v-selected-menu-line {
      width: 100%;
      border-bottom: 2px solid @primary-color;
      transition: transform 1000ms;
    }
  }

  .ant-menu {
    &:not(.ant-menu-horizontal) {
      float: left;
      width: 208px;

      .ant-menu-item {
        font-weight: 500;
        padding-right: 0;

        a {
          color: @black04;
        }

        .v-icon {
          font-size: 16px;
          padding-right: 24px;
        }

        &:active {
          background-color: @white;
        }

        &-selected {
          background-color: #fff;

          a {
            color: @black;
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
