@import "../customVars";

.ant-modal-mask {
  background-color: rgba(10, 6, 6, .6);
}

.ant-modal-wrap {
  .ant-modal {
    &.v-side-panel {
      top: 0;
      padding: 0;
      height: 100vh;
      margin-right: 0;
      margin-left: auto;

      .v-modal-close {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 32px;
        left: 32px;
        text-align: center;
        cursor: pointer;

        .v-modal-close-x {
          font-size: 16px;

          .v-icon {

          }
        }
      }

      &.v-side-panel-black {
        .ant-modal-content {
          .ant-modal-header {

          }
        }
      }

      .ant-modal-content {
        height: 100%;

        .ant-modal-close {
          color: @white;
          left: 0;
          right: auto;

          .ant-modal-close-x {
            font-size: 20px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            margin-left: 32px;
            margin-top: 32px;
          }
        }

        .ant-modal-header {
          height: 208px;
          padding-top: 112px;
          padding-left: 64px;
          background-color: @black;
          border-bottom: none;

          ::selection {
            background: @white;
            color: @black;
          }

          .ant-modal-title {
            font-size: 32px;
            color: @white;

            .v-icon-wrapper {
              float: left;
              width: 96px;
              height: 96px;
              font-size: 64px;
              text-align: center;

              .v-icon {

              }
            }
            .v-titles-wrapper {
              float: left;
              padding-left: 16px;
              padding-top: 8px;
              width: calc(~"100% - 96px");

              h1 {
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 8px;
              }
              p {
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
              }
            }
            h1, h2, h3, h4, h5 {
              color: @white;
            }
          }
        }

        .ant-modal-body {
          padding: 16px 0 0 80px;
          height: calc(~"100% - 208px");
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
  }
}

// animation

.slide-fade-enter,
.slide-fade-appear {
  transform: translate(100%, 0);
}

.slide-fade-enter,
.slide-fade-appear,
.slide-fade-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-play-state: paused;
}

.slide-fade-enter.slide-fade-enter-active,
.slide-fade-appear.slide-fade-appear-active {
  animation-name: slideFadeIn;
  animation-play-state: running;
}

.slide-fade-leave.slide-fade-leave-active {
  animation-name: slideFadeOut;
  animation-play-state: running;
}

@keyframes slideFadeIn {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideFadeOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
