.v-tabs.ant-tabs {
  overflow: visible;

  .ant-tabs-nav {
    .ant-tabs-tab {
      padding: 17px 0 15px;
    }
  }

  &:not(.ant-tabs-vertical) {
    &> .ant-tabs-content-animated {
      transition: none;
    }
  }

  .ant-tabs-bar {
    border-bottom: none;
  } color: rgba(10, 6, 6, .4);
}
