.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
}

.logo {
  margin: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
}

.example-list-icon svg {
  width: 32px !important;
  height: 32px !important;
}
