@import "~antd/es/style/themes/default";

// Media queries breakpoints
// Extra small screen / phone
@screen-xs              : 480px;
@screen-xs-min          : @screen-xs;

// Small screen / tablet
@screen-sm              : 576px;
@screen-sm-min          : @screen-sm;

// Medium screen / desktop
@screen-md              : 768px;
@screen-md-min          : @screen-md;

// Large screen / wide desktop
@screen-lg              : 992px;
@screen-lg-min          : @screen-lg;

// Extra large screen / full hd
@screen-xl              : 1200px;
@screen-xl-min          : @screen-xl;

// Extra extra large screen / large descktop
@screen-xxl              : 1600px;
@screen-xxl-min          : @screen-xxl;

// provide a maximum
@screen-xs-max          : (@screen-sm-min - 1px);
@screen-sm-max          : (@screen-md-min - 1px);
@screen-md-max          : (@screen-lg-min - 1px);
@screen-lg-max          : (@screen-xl-min - 1px);
@screen-xl-max          : (@screen-xxl-min - 1px);

// Grid system
@grid-columns: 16;
@grid-gutter-width: 0;

// fonts
@font-family-no-number: "Montserrat", sans-serif;
@font-family: @font-family-no-number;
@font-size-base: 13px;

// -------- Colors -----------

@secondary-color: rgb(224, 224, 224);
@white: #fff;
@black: rgb(10, 6, 6);
@black04: rgba(10, 6, 6, .4);
@blue: rgb(74, 176, 224);
@marine: rgb(8, 29, 82);
@gray: rgb(141, 141, 141);
@green: rgb(78, 206, 61);
@orange: rgb(248, 183, 0);
@red: rgb(240, 33, 43);

@primary-color: #081d52;
@info-color: #40c2f0;
@success-color: @green;
@processing-color: @primary-color;
@error-color: @red;
@highlight-color: @red;
@warning-color: @orange;
@normal-color: #d9d9d9;

// border
@border-radius-base     : 0;
@border-radius-sm       : @border-radius-base / 2;
@border-width-base      : 2px;            // width of the border for a component
@border-style-base      : solid;          // style of a components border

// checkbox
@checkbox-size          : 16px;

//radio

// buttons
@btn-font-weight: 500;
@btn-border-radius-base: 0;
@btn-border-radius-sm: 0;

@btn-primary-color: #fff;
@btn-primary-bg: @primary-color;

@btn-default-color: @text-color;
@btn-default-bg: #fff;
@btn-default-border: #fff;

@btn-danger-color: @error-color;
@btn-danger-bg: #fff;
@btn-danger-border: @border-color-base;

@btn-disable-color: @disabled-color;
@btn-disable-bg: @disabled-bg;
@btn-disable-border: @border-color-base;

@btn-padding-base: 0 @padding-md - 1px;
@btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-base;
@btn-padding-lg: @btn-padding-base;
@btn-padding-sm: 0 @padding-xs - 1px;

@btn-height-base: 48px;
@btn-height-lg: 40px;
@btn-height-sm: 24px;

@btn-circle-size: @btn-height-base;
@btn-circle-size-lg: @btn-height-lg;
@btn-circle-size-sm: @btn-height-sm;

@btn-group-border: none;
