@font-path: "/src/fonts";

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("@{font-path}/Montserrat-Regular.eot");
  src: url("@{font-path}/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
  url("@{font-path}/Montserrat-Regular.woff2") format("woff2"),
  url("@{font-path}/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("@{font-path}/Montserrat-Medium.eot");
  src: url("@{font-path}/Montserrat-Medium.eot?#iefix") format('embedded-opentype'),
  url("@{font-path}/Montserrat-Medium.woff2") format("woff2"),
  url("@{font-path}/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("@{font-path}/Montserrat-Bold.eot");
  src: url("@{font-path}/Montserrat-Bold.eot?#iefix") format('embedded-opentype'),
  url("@{font-path}/Montserrat-Bold.woff2") format("woff2"),
  url("@{font-path}/Montserrat-Bold.woff") format("woff");
}
