@font-roboto-light: 'Roboto-Light', sans-serif;
@font-roboto-regular: 'Roboto-Regular', sans-serif;
@font-roboto-medium: 'Roboto-Medium', sans-serif;

// Use exampleVars for customizing theme

// -------- Colors -----------
@primary-color: #081d52;
@info-color: #40c2f0;
@success-color: #4ece3d;
@processing-color: @primary-color;
@error-color: #f0222b;
@highlight-color: #f0222b;
@warning-color: #f8b700;
@normal-color: #d9d9d9;

// Background color for `<body>`
@body-background: #fff;
// Base background color for most components
@component-background: #fff;
@font-family-no-number: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family: @font-roboto-regular, @font-family-no-number;
@code-family: Consolas, Menlo, Courier, monospace;
@heading-color: fade(#000, 85%);
@text-color: fade(#000, 65%);
@text-color-secondary: fade(#000, 45%);
@heading-color-dark: fade(#fff, 100%);
@text-color-dark: fade(#fff, 85%);
@text-color-secondary-dark: fade(#fff, 65%);
@font-size-base: 13px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;
@line-height-base: 1.5;
@border-radius-base: 0px;
@border-radius-sm: 0px;

// Border color
@border-color-base: #fff; // base border outline a component
@border-color-split: hsv(0, 0, 91%); // split border inside a component
@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border

// Buttons
@btn-font-weight: 500;
@btn-border-radius-base: none;
@btn-border-radius-sm: none;

@btn-primary-color: #fff;
@btn-primary-bg: @primary-color;

@btn-default-color: @text-color;
@btn-default-bg: #fff;
@btn-default-border: #fff;

@btn-danger-color: @error-color;
@btn-danger-bg: #fff;
@btn-danger-border: @border-color-base;

@btn-disable-color: @disabled-color;
@btn-disable-bg: @disabled-bg;
@btn-disable-border: @border-color-base;

@btn-padding-base: 0 @padding-md - 1px;
@btn-font-size-lg: @font-size-lg;
@btn-font-size-sm: @font-size-base;
@btn-padding-lg: @btn-padding-base;
@btn-padding-sm: 0 @padding-xs - 1px;

@btn-height-base: 48px;
@btn-height-lg: 40px;
@btn-height-sm: 24px;

@btn-circle-size: @btn-height-base;
@btn-circle-size-lg: @btn-height-lg;
@btn-circle-size-sm: @btn-height-sm;

@btn-group-border: none;

// The background colors for active and hover states for things like
// list items or table cells.
@item-active-bg: @body-background;
@item-hover-bg: @body-background;

// Grid system
@grid-columns           : 16;
@grid-gutter-width      : 0;
