// palette page
.color-block {
  .color-square-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .color-square {
      width: 64px;
      height: 64px;
    }
  }
  .color-code {
    width: 100%;
    text-align: center;
    line-height: 16px;
    font-size: 13px;
    margin-top: 8px;
  }
  .color-title {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #8d8d8d;
    margin-top: 4px;
  }
}
