@import "customVars";

.v-docs {
  table {
    width: 100%;
    border-top: 1px solid @gray;
    border-left: 1px solid @gray;
    margin-bottom: 20px;

    td, th {
      border-right: 1px solid @gray;
      border-bottom: 1px solid @gray;
    }
  }
}
